<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Lightning</title>

  <link rel="stylesheet" href="vendor/jvmap/jquery-jvectormap-2.0.3.css" />
  <link rel="stylesheet" href="styles.css" />
</head>
<body>

  <div id="map"></div>

  <script src="vendor/jquery-3.0.0.min.js"></script>
  <script src="vendor/jvmap/jquery-jvectormap-2.0.3.min.js"></script>
  <script src="vendor/jvmap/world_map.js"></script>
  <script src="index.js"></script>
</body>
</html>
